*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 

}
body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
}
header, nav, main, aside, footer{
    background-color: rgb(110, 0, 212);
    display: flex;
    margin: 3px;

}
header{
    height: 150px;
    flex: 1 1 100vw;
}
header #logo{
    display: flex;
    flex: 0 1 200px;
    justify-content: center;
    align-items: center;
    background-color:hsl(251, 98%, 49%) ;

}
#openMenu, #closeMenu{
    border: none;
    background:none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor:pointer;
    display: none;

}
nav{
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
}
nav a{
    margin: 0 3%;
    font-size: 15pt;
    text-decoration: none;
    color: rgb(255, 131, 30);
}
nav a:hover{
    color: rgb(224, 21, 156);
}
main{
    height: calc(100vh - 224px);
    flex: 20 1 500px;
}
aside{
    flex: 1 1 200px;

}
footer{
    height: 100px;
    flex: 1 1 100vw;
}
