*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    background-color: rgb(255, 116, 3);
}

header, nav, main, aside, footer {
    background-color:#1b0135;
    display: flex;
    margin: 3px;
}

header {
    height: 100px;
    flex: 1 1 100vw;
}

.logo {
    width: 100%;  
    height: auto; 
    object-fit: cover;
  }


header #logo {
    display: flex;
    flex: 0 1 150px;
    justify-content: center;
    align-items: center;
    background-color: #a11eee;
}

.container-button {
    display: flex;
    gap: 10px;
    color: rgb(255, 116, 3);
}

.btn {
    background-color: rgb(255, 116, 3);
    color: white;
    padding: 8px 7px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 2px;
    font-weight: 500;
    transition: 0.5s;
    flex: 1;
    height: 50px;
}

.btn:hover {
    background-color:  #a11eee;
    font-size: 10pt;
    transition: 0.5s;
}


#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
}

nav a {
    margin: 0 2%;
    font-size: 12pt;
    text-decoration: none;
    color: rgb(255, 116, 3);
    transition: 0.5s;
    font-weight: 500;
    font-size: medium;
}

nav a:hover {
    color:rgb(195, 0, 255);
    font-size: 12.5pt;
    transition: 0.5s;
}

main {
    height: calc(100vh - 224px);
    flex: 20 1 500px;
}

aside {
    width: 285px;
    flex: 1 1 200px;
    justify-content:left;
    display: flex;
    flex-direction: column; /* Exibe as imagens em coluna */
    gap: 10px; /* Espaço entre as imagens */
}

.img-aside {
    width: 100%;  
    height: auto; 
    object-fit: cover;
  }

footer {
    height: 100px;
    flex: 1 1 100vw;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2px;

}

.flex >div{
    flex: 1 1 200px;
    margin: 5px; 

}

section img {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 70%;
    padding: 20px;
    border: 1px solid rgb(255, 116, 3);
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }
    #openMenu {
        margin-left: auto;
    }
    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    header {
        order: 0;
    }

    nav {
        order: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #1E3A5F;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 2;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
    }

    main {
        order: 2;
        height: calc(100vh - 330px);
    }

    aside {
        order: 3;
        height: 100px;
    }

    footer {
        order: 4;
    }   
}
